@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
    background: url("../images/background.png") no-repeat 50% 50% fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
    color: white;
}

select {
    text-align: center;
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 10%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 10%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all;
    transition: all;
    cursor: pointer;
    text-align: center;
}


.delete_assignment {
    text-align: center;
    margin: auto;
}

.actual_text {
    max-width: 45%;
    position: relative;
    left: 30%;
    text-align: center;
    background: url("../images/table.png");
    padding: 15px;
    text-shadow: -1px -1px 0 rgb(64, 64, 64), 1px -1px 0 rgb(64, 64, 64), -1px 1px 0 rgb(64, 64, 64), 1px 1px 0 rgb(64, 64, 64);
    box-sizing: border-box;
    border-radius: 15px;
}

p {
    text-align: center;
}

h2 {
    text-align: center;
}

.assignment_names {
    position: relative;
    float: left;
    margin: auto auto;
    padding: 20px;
    width: 90px;
    font-size: 25px;
    color: white;
    text-shadow: -1px -1px 0 rgb(64, 64, 64), 1px -1px 0 rgb(64, 64, 64), -1px 1px 0 rgb(64, 64, 64), 1px 1px 0 rgb(64, 64, 64);
    text-align: center;
    background: url("../images/table.png");
    border-radius: 15px;
    border-spacing: 0;
    font-weight: bold;
}

.actual_text img {
    position: center;
}

.actual_text h1 {
    text-align: center;
}

img {
    width: 80px;
    height: 80px;
    left: 30%;
}

a {
    text-align: left;
    font-size: 20px;
}

/* A link that has not been visited */
a:link {
    color: white;
    text-decoration: none;
}

/* A link that has been visited */
a:visited {
    color: white;
    text-decoration: none;
}

/* A link that is hovered on */
a:hover {
    color: white;
}

/* A link that is selected */
a:active {
    color: white;
    text-decoration: none;
}
