@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
    background: url("../images/background.png") no-repeat 50% 50% fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
    color: white;
}

select {
    text-align: center;
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 10%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 10%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all;
    transition: all;
    cursor: pointer;
    text-align: center;
}

a {
    left: 10%;
    font-size: 20px;
}

div {
    text-align: center;
    width: 100%;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
}

a:active {
    color: white;
    text-decoration: none;
}
