@import url(https://fonts.googleapis.com/css?family=Roboto:300);

h1 {
  text-align: center;
}

body {
  background: url("../images/background.png") no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-size: 20px;
  color: white;
}

a {
  text-align: center;
    font-size: 25px;
}

/* A link that has not been visited */
a:link {
  color: white;
  text-decoration: none;
}

/* A link that has been visited */
a:visited {
  color: white;
  text-decoration: none;
}

/* A link that is hovered on */
a:hover {
  color: white;
}

/* A link that is selected */
a:active {
  color: white;
  text-decoration: none;
}

table {
    font-size: 25px;
  margin: auto;
  position: relative;
    padding: 40px;
  text-align: center;
  background: url("../images/table.png");
  border-radius: 15px;
  border-spacing: 0;
  height: 100px;
  font-weight: bold;
  text-shadow: -1px -1px 0 rgb(64, 64, 64), 1px -1px 0 rgb(64, 64, 64), -1px 1px 0 rgb(64, 64, 64), 1px 1px 0 rgb(64, 64, 64);
}
