@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  font-family: "Roboto", sans-serif;
    background-image: url("../images/background.png");
  color: white;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
  text-align: center;
}

a {
  font-size: 20px;
}

h2 {
  font-size: 22px;
}

p {
  font-size: 16px;
  text-align: justify;
}

.text p {
  display: inline;
  text-align: left;
}

.text img {
  float: left;
  width: 20%;
  height: 20%;
}

.images p {
  text-align: center;
  font-size: 20px;
}

/* A link that has not been visited */
a:link {
  color: white;
}

/* A link that has been visited */
a:visited {
  color: white;
}

/* A link that is hovered on */
a:hover {
  color: white;
}

/* A link that is selected */
a:active {
  color: white;
}

a {
  text-align: right;
}
