@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
    text-align: center;
    color: white;
    background-image: url("../images/background.png");
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
}

a {
    font-size: 25px;
}

/* A link that has not been visited */
a:link {
    color: white;
    text-decoration: none;
}

/* A link that has been visited */
a:visited {
    color: white;
    text-decoration: none;
}

/* A link that is hovered on */
a:hover {
    color: white;
}

/* A link that is selected */
a:active {
    color: white;
    text-decoration: none;
}

.links_table {
    text-align: center;
    color: white;
    text-shadow: -1px -1px 0 rgb(64, 64, 64), 1px -1px 0 rgb(64, 64, 64), -1px 1px 0 rgb(64, 64, 64), 1px 1px 0 rgb(64, 64, 64);
    border-spacing: 0;
    background: url("../images/table.png");
    border-radius: 15px;
    position: relative;
    left: 90%;
    height: 100px;
    width: 133px;
    font-size: 25px;
}

.accounts {
    position: relative;
    margin: auto;
    padding: 25px;
    text-align: center;
    background: url("../images/table.png");
    border-radius: 15px;
    width: 500px;
    bottom: 50%;
    text-shadow: -1px -1px 0 rgb(64, 64, 64), 1px -1px 0 rgb(64, 64, 64), -1px 1px 0 rgb(64, 64, 64), 1px 1px 0 rgb(64, 64, 64);
    border-spacing: 0;
}

.accounts th {
    border-bottom: solid;
    border-radius: 1px;
    border-color: white;
    padding: 10px;
    font-size: 20px;
}

.links_table td {
    font-size: 20px;
}

