@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  font-family: "Roboto", sans-serif;
  background-image: url("background.png");
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
  text-align: center;
}

h2 {
  font-size: 22px;
}

p {
  font-size: 16px;
  text-align: justify;
}

.text p {
  display: inline;
  text-align: left;
  right: 5%;
}

.text img {
  float: left;
  width: 16%;
  height: 16%;
}
