    @import url(https://fonts.googleapis.com/css?family=Roboto:300);

h1 {
  text-align: center;
}

body {
  background: url("background.png") no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-size: 20px;
  color: white;
}

a {
  text-align: center;
}
<<<<<<< HEAD
=======

/* A link that has not been visited */
a:link {
  color: white;
}

/* A link that has been visited */
a:visited {
  color: white;
}

/* A link that is hovered on */
a:hover {
  color: white;
}

/* A link that is selected */
a:active {
  color: white;
}
>>>>>>> c066249bb3be595e97de2c0b6443bc678b6c677f
