@import url(https://fonts.googleapis.com/css?family=Roboto:300);

h1 {
  text-align: center;
}

body {
  background: url("background.png") no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-size: 20px;
}

a {
  text-align: center;
}