@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  font-family: "Roboto", sans-serif;
  text-align: justify;
  background-color: #76b852;
}

.header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
  text-align: center;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 18px;
  text-align: justify;
}

.text p {
  display: inline;
}

.text img {
  float: left;
  width: 25%;
  height: 25%;
}

.images p {
  text-align: center;
  font-size: 20px;
}

.images pixel {
  height: 66%;
  width: 66%;
}

.images cop {
  height: 100%;
  width: 100%;
}

.images many {
  height: 33%;
  width: 33;
}

.images giga {
  height: 100%;
  width: 100%;
}

.images reddit {
  height: 100%;
  width: 100%;
}