@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  text-align: center;
  color: white;
  background-image: url("background.png");
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
}

/* A link that has not been visited */
a:link {
  color: white;
}

/* A link that has been visited */
a:visited {
  color: white;
}

/* A link that is hovered on */
a:hover {
  color: white;
}

/* A link that is selected */
a:active {
  color: white;
}