@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  background-image: url("background.png");
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

table {
  position: relative;
  z-index: 1;
  margin: 0 auto 100px;
  margin-top: 300px;
  padding: 45px;
  text-align: center;
  background: url("table.png");
  border-radius: 15px;
  padding: 20px;
  width: 200px;
  height: 150px;
}

.back {
  position: relative;
  font-size: 20px;
  left: 8%;
  top: 10%;
}

.out {
  position: relative;
  font-size: 20px;
  left: 80%;
  top: 10%;
}

th {
  font-size: 24px;
}

td {
  font-size: 20px;
}

/* A link that has not been visited */
a:link {
  color: white;
}

/* A link that has been visited */
a:visited {
  color: white;
}

/* A link that is hovered on */
a:hover {
  color: white;
}

/* A link that is selected */
a:active {
  color: white;
}