@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
    background: #76b852;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

table {
    position: relative;
    max-width: 180px;
    margin: 0 auto 100px;
    text-align: center;
}

.back {
    position: relative;
    font-size: 20px;
    left: 8%;
    top: 10%;
}

.out {
    position: relative;
    font-size: 20px;
    left: 80%;
    top: 10%;
}

th {
    font-size: 24px;
}

td {
    font-size: 20px;
}



